


<div class="transactions-container ">

  <!-- 🔹 Date Filter -->
  <form [formGroup]="filterForm" class="filter-bar">
    <div class="date-picker-container">
     <mat-form-field appearance="outline" class="date-range-field">
       <mat-label>Select Date Range</mat-label>
       <mat-date-range-input [rangePicker]="picker" formGroupName="range">
         <input matStartDate formControlName="start" placeholder="Start date">
         <input matEndDate formControlName="stop" placeholder="End date">
       </mat-date-range-input>
       <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
       <mat-date-range-picker #picker></mat-date-range-picker>
     </mat-form-field>

     <button mat-raised- class="btn btn-md btn-outline-secondary filter-btn" (click)="filterByDate()">
       <i class="ti ti-filter"></i>  Filter
     </button>
    </div>
   </form>

    <div *ngFor="let tx of storeData.store['transactions']" [ngClass]="tx.type" class="transaction-card" [class.pending]="tx.status === 'pending'" [class.completed]="tx.status=='success'" >
      <div class="tx-header">
        <div class="tx-type" [class.deposit]="tx.type === 'deposit'" [class.withdraw]="tx.type === 'withdraw'">
          <!-- {{tx.sessionID}} -->
          {{ tx.type | titlecase }}
        </div>
        <div class="tx-status" [class.awaiting]="tx.status === 'awaiting'" [class.pending]="tx.status === 'pending'" [class.completed]="tx.status=='success'">
          {{ tx.status | titlecase }}
        </div>
      </div>

      <div class="tx-body">
        <div class="tx-row">
          <span class="text-first">Amount:</span>
          <strong>{{ tx.amount | currencyConverter:true}} </strong>
        </div>



        <div *ngIf="expandedTraId===tx.id" class="tra-details">
          <div class="tx-row">
            <span class="text-first">Fee:</span>
            <strong>{{ tx.processFee| currencyConverter:true }}</strong>
          </div>

          <!-- <div class="tx-row">
            <span class="text-first">Method:</span>
            <strong>{{ tx.method }}</strong>
          </div> -->
          <div class="tx-row">
            <span class="text-first">Old balance:</span>
            <strong>{{ tx.old_bal| currencyConverter:true }}</strong>
          </div>

          <div class="tx-row">
            <span class="text-first">New balance:</span>
            <strong>{{ tx.new_bal| currencyConverter:true }}</strong>
          </div>

          <div class="tx-row">
            <span class="text-first">ID:</span>
            <strong>{{ tx.sessionID || '—' }}</strong>
          </div>
        </div>

        <div class="tx-row">
          <span class="text-first">Date:</span>
          <strong class="text-small">
            {{
              tx.type.includes('vip')
                ? (tx.created_at | date:'medium')
                : (tx.timestamp | date:'medium')
            }}
          </strong>

        </div>
      </div>

      <div class="tx-footer">
        <button class="btn-sm btn-outline details-view-btn" (click)="viewDetails(tx)">
          {{expandedTraId === tx.id ? "Close" : "View Details"}}
        </button>
      </div>
    </div>

    <div *ngIf="!storeData.store['transactions']?.length" class="empty-state">
      <div class="no-data text-center">
        <img class="empty-icon" src="https://cdn.jsdelivr.net/npm/@tabler/icons/icons/database-off.svg">
        <p>No transactions found.</p>
      </div>
    </div>
  </div>
