.title-area{
  position:sticky;
  top:0;
  z-index:1000;

  padding:14px 16px;

  background:#19152f;

  /* glass effect */
  backdrop-filter:blur(10px);

  border-bottom:1px solid rgba(255,255,255,0.05);
  margin-bottom: 20px;
}

/* header layout */

.wallet-header{
  position:sticky;
  display:flex;
  align-items:center;
  justify-content:space-between;
  color: #fff;
}

/* left */

.header-left{
  z-index:2;
}

.back-btn{
  width:38px;
  height:38px;

  border:none;
  border-radius:10px;

  /* background:#a034fa; */
  color:white;

  font-size:18px;
  cursor:pointer;

  display:flex;
  align-items:center;
  justify-content:center;

  /* box-shadow:0 4px 12px rgba(160,52,250,0.4); */
}

/* center */

.header-title{
  position:absolute;
  left:50%;
  transform:translateX(-50%);

  font-size:16px;
  font-weight:600;
  color:white;
}

/* right */

.header-right{
  z-index:2;
}

.balance{
  display:flex;
  align-items:center;
  gap:4px;

  padding:6px 10px;

  border-radius:10px;

  background:linear-gradient(
    150deg,
    rgba(255,255,255,0.03) 0%,
    rgba(255,255,255,0.01) 100%
  );

  border:1px solid rgba(255,255,255,0.05);

  font-size:13px;
  font-weight: 900;
}

.currency{
  color:#a034fa;
  font-weight:600;
}

.amount{
  color:white;
  font-weight:600;
}

/* dashboard link */

.dashboard-link{
  margin-top:10px;
  font-size:13px;
  color:#9b8cff;

  display:flex;
  align-items:center;
  gap:6px;

  cursor:pointer;
}

/* mobile */

@media (max-width:600px){

  .header-title{
    font-size:15px;
  }

  .balance{
    font-size:12px;
    padding:5px 8px;
  }

}
