/* .header-title{
  text-transform: capitalize;
}

.back-page-btn i{
  background: transparent;
  color: #4c677a;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  padding: 3px;
  font-size: 20px;
}

.balance__data.text-deem.notranslate {
    position: relative;
} */

/* Header */
.wallet-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.back-btn {
  position: absolute;
  left: 0;
  font-size: 18px;
  cursor: pointer;
}

.wallet-header h2, h5 {
  font-weight: 600;
  font-size: 15px;
}


.title-area.snipcss-84QUn {
    position: sticky;
    z-index: 99;
    top: 12px;
    color: #fff;
    background:#16142a;
    /* linear-gradient(180deg, #102537, #08131d); */
    padding: 5px 10px 7px;
    margin-bottom: 1.7em;
}
