

<!-- <app-quick-notifications *ngIf="storeData.get('notification')&&pageName!=='notifications'"></app-quick-notifications> -->

  <div class="title-area  snipcss-84QUn">

      <div class="top-header">
        <a (click)="goBack()" class="btn back-page-btn"><i class="ti ti-arrow-left"></i></a>

      </div>
      <div class="main-header space-between">
        <div class="">
          <h5  class="ps-4 header-title">{{pageName}}</h5>
        </div>


        <div  *ngIf="storeData.store['wallet'] as walletData" class="balance__data text-deem notranslate"><strong>{{walletData.init_currency.symbol}} </strong> <span class="bal___display">{{walletData.balance.new|currencyConverter|number:"1.2-2"}}</span>
        </div>

        <!-- <br> -->
        <div class="text-main mt-2" (click)="router.navigate(['wallet','records'])" *ngIf="['deposit', 'withdraw'].includes(pageName)" class="records grid">
            <p class="text-deem "><i class="ti ti-history"></i>records <i class="ti ti-arrow-up-right"></i></p>
        </div>
        <!-- <div class="text-main " (click)="router.navigate(['promotions','rewards'])" *ngIf="['teams'].includes(pageName)" class="records grid">
            <p class="text-deem"><i class="ti ti-gift"></i>rewards <i class="ti ti-arrow-up-right"></i></p>
        </div> -->
        <div class="text-main " (click)="router.navigate(['promotions','earnings'])" *ngIf="['rewards'].includes(pageName)" class="records grid">
            <p class="text-deem"><i class="ti ti-users"></i>Teams <i class="ti ti-arrow-up-right"></i></p>
        </div>
      </div>


  </div>
<!-- <div style="margin-top:90px" class="">

<div *ngIf="!['Level-1','Level-2','Level-3', 'Inactive', 'rewards', 'Account', 'account','Transactions'].includes(pageName)">
  <div *ngIf="storeData.store['wallet'] as walletData" class="balance-data  notranslate text-center mt-12 gap-4 space-">
        <span class="text-deem">Balance:</span>
        <span class="bal___display">{{walletData.init_currency.symbol}} {{walletData.balance.new|currencyConverter|number:"1.2-2"}} </span>
        <i (click)="quickNav.reload('main')" class="ti ti-reload text-main"></i>

</div>
</div>

</div> -->
