<app-spinner></app-spinner>

	<!-- page wrap -->
	<div class="section section--content">
		<div class="section__content">
			<!-- form -->

			<!-- <div class="select-language">

			</div> -->

      <form class="form form--content" [formGroup]="authService.formView.login" (ngSubmit)="authService.onSubmit(authService.formView.login,'login')">
				<div class="form__logo-wrap">
					<div  class="form__logo">
						<img src="/assets/img/vi.svg" alt="">
					</div>
					<!-- <span class="form__tagline">Ventora <br> Investment</span> -->
				</div>

				<div class="form__group w-50">
					<!-- <label for=""></label> -->
					<select class="notranslate form__select lang" (change)="quickNav.changeLanguage($event)">
						<option disabled='disabled' selected='selected'>Change language </option>
						<option  *ngFor="let lang of quickNav.langKeys" [value]="lang">
									{{ lang }}
								</option>
					</select>
				</div>

				<div class="form__group">
					<input formControlName="identifier" type="text" class="form__input" placeholder="Username">
				</div>

				<div class="form__group password-field">
          <input
            formControlName="password"
            [type]="authService.showPassword ? 'text' : 'password'"
            class="form__input"
            placeholder="Password">
          <button
            type="button"
            class="eye-toggle"
            (click)="authService.togglePassword()"
            aria-label="Toggle password visibility"
          >
            <i class="fa" [ngClass]="authService.showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>

          <!-- <div class="error" *ngIf="authService.formView.register.get('password')?.touched
              && authService.formView.register.get('password')?.errors?.['minlength']">
              Password must be at least 6 characters
            </div> -->
        </div>

				<div class="form__group form__group--checkbox">
					<input id="remember" name="remember" type="checkbox">
					<label for="remember">Remember Me</label>
				</div>

				<button class="form__btn" type="submit" [disabled]="authService.formView.login.invalid">Sign in</button>

				<!-- <span class="form__delimiter">or</span> -->

				<!-- <div class="form__social">
					<a class="fb" href="#"><i class="ti ti-brand-facebook"></i></a>
					<a class="tw" href="#"><i class="ti ti-brand-x"></i></a>
					<a class="gl" href="#"><i class="ti ti-brand-google"></i></a>
				</div> -->

				<span class="form__text form__text--center">Don't have an account? <a (click)="authService.router.navigate(['/register'])">Sign up!</a><br> <a (click)="authService.router.navigate(['/reset-password'])">Forgot password?</a></span>

				<!-- design elements -->
				<span class="block-icon block-icon--purple">
					<i class="ti ti-login"></i>
				</span>
				<span class="screw screw--big-tr"></span>
				<span class="screw screw--big-bl"></span>
				<span class="screw screw--big-br"></span>
			</form>
			<!-- end form -->
		</div>

		<!-- animation background -->
	</div>
