<header class="mobile-header header__content header">
  <div class="left">
    <img src="/assets/img/vi.svg" alt="Logo" class="logo" />
  </div>

  <div class="middle">
    <span class="greeting">Hi, {{ username }}</span>
  </div>

  <div class="right">
    <i (click)="quickNav.authService.logout(false)" class="ti ti-power"></i>
    <!-- <span class="balance-label">BQ</span> -->
    <!-- <span class="balance-amount">{{ balance | currency:'USD' }}</span> -->
  </div>
</header>

<!-- end header -->
