.cdk-overlay-container,
.mat-mdc-dialog-container,
.mat-mdc-dialog-container * {
  font-family: inherit !important;
}

.delete{
  color: var(--bs-danger) !important;
}

.dialog-header{
  padding:16px 20px;
  font-size:13px;
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  gap:4px;
}

.dialog-title{
  font-weight:600;
  font-size:12px;
  opacity:.7;
  text-transform:uppercase;
  color: #e66c12;
}

.dialog-separator{
  opacity:.4;
}

.dialog-message{
  font-size:12px;
  color: #fff
}

.dialog-actions{
  display:flex;
  justify-content:flex-end;
  gap:10px;
  padding:12px 20px 18px;
  border-top:1px solid rgba(0,0,0,0.06);
}

.btn-cancel{
  font-weight:500;
  height: 30px;

  color: #6c757d !important;
}

/* .btn-cancel:hover {
  background: red !important;
} */

.btn-confirm{
  font-weight:600;
  border-radius:6px;
  background: #6c757d !important;
  height: 30px;
  /* linear-gradient(135deg, #572c7c 0%, #572c7c 50%, #a034fa 100%) !important; */
}
