<app-header2></app-header2>
<app-spinner></app-spinner>

  <section class="wallet container-fluid ">

  <!-- TAB Users CONTENT -->
  <div class="tab-content">
    <div class="container mt-12">
                <div class="d-fex justify-content-between align-items-center mb-3">
                  <!-- <h5 class="fw-bold mb-0">Referral & Rebate Transactions</h5> -->
                  <!-- <span class="badge bg-primary">Total: {{ transactions.length }}</span> -->
                  <p class="text-center text-danger">Users here are considered as not valued users: </p>
                </div>

                <div class="table-responsive">
                  <table class="table table-hover align-middle">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">#</th>
                        <!-- <th scope="col">Usernm</th> -->
                        <!-- <th scope="col">Type</th> -->
                        <!-- <th scope="col">Gen</th> -->
                        <!-- <th scope="col">Base</th> -->
                        <th scope="col">amount</th>
                        <!-- <th scope="col">Currency</th> -->
                        <th scope="col">status</th>
                        <th scope="col">Joined</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tx of subUsersContent; let i = index">
                        <!-- <th scope="row">{{ i + 1 }}</th> -->
                        <td>{{ tx.user }}</td>
                        <!-- <td>
                          <span
                            class="badge"
                            [ngClass]="{
                              'bg-primary': tx.type === 'referral',
                              'bg-success': tx.type === 'rebate'
                            }"
                          >
                            {{ tx.type | titlecase }}
                          </span>
                        </td> -->
                        <!-- <td>{{ tx.generation }}</td> -->
                        <!-- <td>{{ tx.base_amount }}</td> -->
                        <!-- <td>{{ tx.amount | currencyConverter:false:false:5 }}</td> -->
                        <td>{{storeData.store['wallet']?.init_currency['symbol']}}{{tx.amount|currencyConverter:false:false:5|number:(tx.amount < 0.01 && storeData.store['wallet']?.init_currency['symbol'] ==='$'  ? '1.5-5' : '1.2-2')}}</td>
                        <!-- <td>{{ tx.currency }}</td> -->
                        <td>
                          <span
                            class="badge"
                            [ngClass]="{
                              'text-success': tx.cashed,
                              'text-danger text-dark': !tx.cashed
                            }"
                          >
                            {{ tx.cashed ? 'Cashed' : 'Pending' }}
                          </span>
                        </td>
                        <td class="text-small">{{ tx.created_at | date: 'short' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                </div>

      </div>

    </section>
