
<section *ngIf="walletService.storeData.store as store">
  <div *ngIf="store['wallet']?.['hasPin'];else noPin"  class="hasPin">


    <div *ngIf="!walletService.quickNav.storeData.store['withdraw']?.length;else pendingDeposit">
      <div class="network-options">

        <label *ngFor="let curr of walletService.getVisibleCurrencies()"
             class="network-option"
             [class.active]="walletService.selectedLocaLMethod === curr.code">

            <input type="radio"
                   name="network"
                   [value]="curr.code"
                   [(ngModel)]="walletService.selectedLocaLMethod"
                   >

            <div class="network-card">
              <div class="left">
                <img [src]="makeFlag(curr.code)" alt="">
                <div class="text">
                  <div class="code">{{ curr.code }}</div>
                  <div class="sub">{{ curr.name}} Method</div>
                </div>
              </div>

              <div class="right">
                <div class="radio-dot"></div>
              </div>
            </div>

          </label>

      </div>

      <div *ngIf="walletService.selectedLocaLMethod" class=" mt-2">

        <!-- <p>HELO</p> -->
        <!-- either user update payment info or existed -->
        <div *ngIf="store['wallet']?.saved_add;else noSavedAdd" class="">

          <div *ngIf="walletService.formView.local.withdraw as form">


            <form [formGroup]="form" (ngSubmit)="walletService.handleSubmit(form, 'create_withdraw')" class="local-acc" >
              <div class="local-withdraw-form">

                  <div class="amount-container form-group">
                    <div class="apool__group">
                      <label for="pool1" class="apool__label">Enter amount</label>
                      <input
                          formControlName="amount"
                          [min]="walletService.minimumPayment"
                          type="number"
                          class="form__input"
                          placeholder="{{walletService.selectedData.symbol}}{{walletService.minimumPayment|number:'1.2-2'}}"
                          >
                    </div>

                    <div class="trade-properties">
                      <div class="row-item space-between">
                        <span class="label">Minimum</span>
                        <span class="value minimum">{{walletService.selectedData.symbol}}{{walletService.minimumPayment|number:"1.2-2"}}</span>
                      </div>
                    </div>
                  </div>


                  <div class=" form-group mt-4">
                    <div class="apool__group">
                      <label for="pool1" class="apool__label">Receive by</label>
                    <select class="form__input" formControlName="saved_method_id">
                      <option *ngFor="let add of store['wallet'].saved_add;let i=index">


                      {{add.account_number}} - {{add.account_holder}} - {{add.bank.text}}</option>

                    </select>


                  </div>
                  </div>




                  <button [disabled]="!form.valid"  class="apool__btn"  type="submit" >Send</button>

              </div>
            </form>
          </div>
        </div>



      </div>

    </div>
  </div>
  <ng-template #noPin>
    <app-create-pin></app-create-pin>
  </ng-template>
  <ng-template  #noSavedAdd>

    <div *ngIf="walletService.formView.local.payment_info as form">
      <form [formGroup]="form" (ngSubmit)="walletService.handleSubmit(form, 'create_withdraw')" class="form form--content local-acc" >

        <p><strong>Save your payment address!</strong></p>

        <div class="form__group">
          <input formControlName="bank"  type="text" class="form__input" placeholder="BANK NAME">
        </div>
        <div class="form__group">
          <input formControlName='account_holder'  type="text" class="form__input" placeholder="ACCOUNT NAME">
        </div>
        <div class="form__group">
          <input formControlName="account_number"  type="text" class="form__input" placeholder="ACCOUNT NUMBER">
        </div>

        <div class="form__group ">
          <label for="pool1" class="apool__label">Enter Pin</label>
          <input
              formControlName="pin"
              type="number"
              class="form__input"
              placeholder="{{store['wallet']?.hasPin?.length}} digit transaction pin"
              >
        </div>

        <button class="form__btn" type="submit" [disabled]="!form.valid">SEND</button>


      </form>

    </div>


  </ng-template>
  <ng-template #pendingDeposit>
    <app-withdraw-invoice></app-withdraw-invoice>
  </ng-template>

</section>
