<app-spinner></app-spinner>

	<!-- page wrap -->
	<div class="section section--content">
		<div class="section__content">
			<!-- form -->
      <form class="form form--content" [formGroup]="authService.formView.reset" (ngSubmit)="authService.onSubmit(authService.formView.reset,'forgot-password')">
				<div class="form__logo-wrap">
					<div  class="form__logo">
						<img src="/assets/img/vi.svg" alt="">
					</div>
					<!-- <span class="form__tagline">Ventora <br> Investment</span> -->
				</div>

				<div class="form__group">
					<input formControlName="email" type="email" class="form__input" placeholder="Email Address">
				</div>



				<button class="form__btn" type="submit" [disabled]="authService.formView.reset.invalid">Reset</button>



				<span class="form__text form__text--center">
          <a (click)="authService.router.navigate(['/login'])">Login!</a>
          <!-- <br> <a (click)="authService.router.navigate(['/reset-password'])">Forgot password?</a> -->
        </span>

				<!-- design elements -->
				<span class="block-icon block-icon--purple">
					<i class="ti ti-login"></i>
				</span>
				<span class="screw screw--big-tr"></span>
				<span class="screw screw--big-bl"></span>
				<span class="screw screw--big-br"></span>
			</form>
			<!-- end form -->
		</div>

		<!-- animation background -->
	</div>
