<div class="balance-card trading-card">
  <div class="top-row">
    <div class="title">
      <span class="icon">💳</span>
      <span>Account Balance</span>
    </div>

    <div  class="actions">
      <button (click)="quickNav.go('wallet',  {page:'deposit'})" class="deposit hero__btn">Deposit</button>
      <button (click)="quickNav.go('wallet',  {page:'withdraw'})" class="withdraw hero__btn hero__btn--light">Withdraw</button>
    </div>
  </div>

  <div class="amount-row">
    <span class="amount notranslate">${{quickNav.storeData.store['wallet']?.balance.new|number:"1.2-2"}}</span>
    <!-- <span class="percent">0%</span> -->
  </div>

  <div *ngIf="quickNav.storeData.store['PLANHISTORY'] as my_plan" class="bottom-row">
    <div class="info">
      <span class="label">Today's Profit</span>
      <span class="value notranslate">${{my_plan.todays_earning || 0|number:"1.2-2"}}</span>
    </div>

    <div class="info">
      <span class="label">VI Return Rate</span>
      <span class="value notranslate">%{{my_plan.daily_profit || 0|number:"1.2-2"}}</span>
    </div>

    <div class="info">
      <span class="label">Trading</span>
      <span class="value notranslate">${{my_plan.capital || 0|number:"1.2-2"}}</span>
    </div>
  </div>
</div>
