<app-header2></app-header2>
<app-spinner></app-spinner>

  <!-- <div *ngIf="!walletService.initialized_currency" class="blur-overlay">
  </div> -->


  <div class="wallet-page app-container">

  <!-- Header -->


  <!-- Tabs -->
  <div class="wallet-tabs">
    <div
      class="wallet-tab"
      [class.active]="walletService.page === 'deposit'"
      (click)="walletService.page = 'deposit'">
      Deposit
    </div>

    <div
      class="wallet-tab"
      [class.active]="walletService.page === 'withdraw'"
      (click)="walletService.page = 'withdraw'">
      Withdraw
    </div>

    <div
      class="wallet-tab"
      [class.active]="walletService.page === 'transactions'"
      (click)="walletService.page = 'transactions'">
      Transactions
    </div>
  </div>

  <!-- Deposit Card -->
  <div class="deposit-card">

    <h3 class="section-title">{{walletService.page|titlecase}}</h3>


    <div class="dep-with-tab">
      <div *ngIf="['deposit', 'withdraw'].includes(walletService.page)" class="type-tabs">

        <div
          *ngIf="walletService.showCryptoTab"
          class="type-tab"
          [class.active]="(walletService.activeChannelObs$ | async) === 'crypto'"
          (click)="walletService.setActiveChannel('crypto')">
          CRYPTO
        </div>

        <div
          *ngIf="walletService.showLocalTab"
          class="type-tab"
          [class.active]="(walletService.activeChannelObs$ | async) === 'local'"
          (click)="walletService.setActiveChannel('local')">
          LOCAL
        </div>

      </div>

      <div class="tab-content">

        <ng-container *ngIf="walletService.page === 'deposit'">
          <app-deposit></app-deposit>
        </ng-container>

        <ng-container *ngIf="walletService.page === 'withdraw'">
          <app-withdraw></app-withdraw>
        </ng-container>

        <ng-container *ngIf="walletService.page.includes('tra')">
          <app-transaction></app-transaction>
        </ng-container>
      </div>
    </div>
  </div>

</div>
