<div *ngIf="storeData.store['withdraw'][0] as withdraw" class="invoice-container">

  <!-- 🧾 INVOICE CARD -->
  <div  class="invoice-card">
    <span (click)="walletService.cancelPayment('withdraw')" class="text-right text-danger">Delete</span>
    <h5>Withdraw Invoice</h5>

    <div class="invoice-row">
      <span>Receiving </span>
      <strong>{{withdraw.method}}{{withdraw.init_amount|number:"1.2-2"}}</strong>
    </div>

    <div class="invoice-row">
      <span>Reference</span>
      <strong>{{withdraw.sessionID}}</strong>
    </div>

    <div class="invoice-row time">
      <span>Opened</span>
      <strong>{{withdraw.timestamp| date:'dd.MM.yy hh:mm a'}}</strong>
    </div>

    <div class="invoice-row time">
      <span>Elapsing</span>
      <strong>{{withdraw.timestamp|countdown:storeData.store['wallet']?.settings.max_await_time.withdraw|async}}</strong>
    </div>

    <div [class]="withdraw.status" class="status">
      {{withdraw.status|titlecase}} Payment
    </div>

  </div>

  <!-- 📌 GUIDE -->
  <div class="guide-card">
    <h5>Withdrawal Notice!!!</h5>
    <ol>
      <li>Withdrawals are automatically process.</li>

      <li>Payment will be completed  within the <strong>elapsing</strong> time.</li>
      <li>No vi user is expected to complain if the withdraw has not exceeded elapsing time frame.</li>
      <li>We expect all members to be guided and follow vi rules for smooth operation.</li>
    </ol>
  </div>

</div>
