
.page-wrapper,
.main-content,
.router-outlet-wrapper
.container-fluid{
  padding-bottom: 9rem;
}

.page-wrapper,
.main-content,
.router-outlet-wrapper
.container-fluid{
  padding-bottom: 9rem;
}
.page {
  // min-height: 100vh;
  // display: flex;
  align-items: center;
  justify-content: center;
  // background: radial-gradient(circle at top, #0f172a, #02192a);
  color: #e5e7eb;
  margin-top: 40px;
  // font-family: Inter, system-ui, sans-serif;
}


.space-between{
  justify-content:space-between;
  display: flex;
}
.space-around {
    display: flex;
    justify-content: space-evenly;
}


// button[type="submit"]:hover:not(:disabled) {
//   background: linear-gradient(135deg, #036fa6, #025f8d);
//   transform: translateY(-1px);
//   box-shadow:
//     0 16px 40px rgba(2, 95, 141, .45),
//     inset 0 1px 0 rgba(255,255,255,.25);
//   filter: brightness(1.05);
// }


// button[type="submit"]:active:not(:disabled) {
//   background: linear-gradient(135deg, #025f8d, #014766);
//   transform: translateY(1px);
//   box-shadow:
//     0 8px 20px rgba(2, 95, 141, .35),
//     inset 0 2px 6px rgba(0,0,0,.3);
// }


button[type="submit"]:disabled {
  background: linear-gradient(135deg, #374151, #1f2933);
  color: #9ca3af;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
  filter: none;
}

.trading-card {
  // background: #19152f;
   background: linear-gradient(150deg, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.01) 100%);

  border-radius: 20px;
  padding: 20px;
  color: white;
  // max-width: 500px;
  margin: auto;
  font-family: Arial, sans-serif;
  position: relative;
  overflow: hidden;
}

/* subtle gradient overlay like screenshot */
.trading-card::before {
  content: "";
  position: absolute;
  right: -50px;
  top: -50px;
  width: 200px;
  height: 200px;
  background: linear-gradient(45deg, transparent, rgba(255,255,255,0.05));
  transform: rotate(45deg);
}
